body{
  margin: 3%;
  padding: 10px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

#image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.left{
  width: 80%;
  display: inline-block;
  float: left;
}

.right{
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 900px) {
  #container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  #image {
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 1rem;
  }

  .right{
    position: relative;
    text-align: left;
  }

  .left{
    width: 100%;
  }
}

#center-image {
  text-align: center;
}

h1 {
  font-size: 57;
}

p {
  font-size: 18px;
}
